<div class="container-fluid repsContainer" ng-show="lc.email">
    <div class="row">
      <div class="col-md-6">
        <!--
        /* ============================================================================= *
        *                   U.S. Congress                                                *
        * ============================================================================= */
        -->
        <div class="container-fluid repsContainer">
          <div class="row">
            <div class="col-sm-4 h-text-center">
              <h3>U.S. Congress:</h3>
            </div>
            <div class="col-sm-8">
              <div class="container-fluid">
                <div class="row" id="us-congress"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!--
        /* ============================================================================= *
        *                   U.S. Senators                                                *
        * ============================================================================= */
        -->
        <div class="container-fluid repsContainer">
          <div class="row">
            <div class="col-sm-4 h-text-center">
              <h3>U.S. Senators:</h3>
            </div>
            <div class="col-sm-8">
              <div class="container-fluid">
                <div class="row" id="us-senators"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>